<div class="container">
  <div class="row mt-5">
    <div class="div">
      <div class="col md-3">
        <H3 style="text-align: center;">NUEVO EMPLEADO</H3>

         <form style="max-width: 500px; margin: 0 auto;">
          <div class="mb-3">
            <label for="" class="form-label">Nombres</label>
            <input type="" class="form-control" id="" >
          </div>
          <div class="mb-3">
            <label  class="form-label">Apellidos </label>
            <input type="" class="form-control" id="">
          </div>
          <div class="mb-3">
            <label  class="form-label">Telefono </label>
            <input type="" class="form-control" id="">
          </div>
          <div class="mb-3">
            <label  class="form-label">Edad </label>
            <input type="" class="form-control" id="">
          </div>
          <div class="text-center mb-4">
                <button type="button" class="btn btn-primary btn-block">Guardar</button>
            </div>
        </form>
      </div>
    </div>
  </div>
</div>
